@import url(./font.css);

/* All */

ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.section-title {
  color: white;
  margin: 10px 75px;
  color: #9f859e;
  text-decoration: underline;
  font-size: 15px;
}

/* App */

body {
  background-color: #1c1719;
  font-family: toruspro-regular;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 80%;
  margin: auto;
  min-width: 750px;
  padding-bottom: 10px;
  background-color: #2a2326;
}

/* Navbar */

.navigation-bar {
  display: flex;
  flex-direction: column;
}

.player-info {
  height: 70px;
  background-color: #2d1f25;
  display: flex;
  flex-direction: row;
  padding-left: 40px;
}

.player-info-text {
  color: white;
  display: flex;
  align-items: center;
}

.profile-img {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  margin: auto 10px;
}

.link-div {
  background-color: #3d2932;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.page-links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding-left: 40px;
}

.link {
  margin: 0 10px;
  color: #d096a5;
  cursor: pointer;
}

/* Introduction */

.main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.background-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  z-index: 1;
}

.intro-block {
  height: 100px;
  background-color: #3d2932;
  display: flex;
  flex-direction: row;
  padding-left: 40px;
  z-index: 10;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 45px;
  margin-top: -75px;
  object-fit: cover;
}

.name-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  color: white;
}

.name {
  font-size: 40px;
}

/* Experience */

.experience-container {
  height: 90%;
  width: 90%;
  color: white;
  margin: 0 auto 20px auto;
  padding: 20px;
  background-color: #392e32;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

.text-container {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 150px;
  width: 150px;
  object-fit: contain;
  border-radius: 20px;
  margin: auto 0;
}

.experience-title {
  padding: 0;
  margin: 0;
  font-size: 30px;
}

.experience-company {
  padding: 0;
  margin: 0;
  font-size: 15px;
  color: #9f859e;
}

.experience-achievements {
  margin: 10px 0;
}

/* AboutMe */

.about-me-container {
  height: 90%;
  width: 90%;
  color: white;
  margin: 0 auto 20px auto;
  padding: 20px;
  background-color: #392e32;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

.about-me-text {
  display: flex;
  flex-direction: column;
}

.about-me-sentences {
  margin: 10px;
  display: flex;
  flex-direction: row;
}

.bullet-point {
  margin: 0 15px;
}

.about-me-image {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 20px;
  margin: auto 10px;
}

/* Contact */

.contact-container {
  height: 90%;
  width: 90%;
  color: white;
  margin: 0 auto 20px auto;
  padding: 20px;
  background-color: #392e32;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

.contact-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.contact-img:hover {
  scale: 1.2;
}

.contact-text {
  font-size: 50px;
  padding: 20px;
}

.contact-link-box {
  margin: auto 0 auto auto;
  display: flex;
}

.contact-link {
  margin: auto 10px;
}
