/* Root */
:root {
  --primary-color: white;
  --primary-text-color: black;
  --primary-border-color: rgba(0, 0, 0, 0.7);
}

body.dark-mode {
  --primary-color: #333;
  --primary-text-color: white;
  --primary-border-color: rgba(255, 255, 255, 0.5);
}

html,
body {
  font-family: "Courier New", Courier, monospace;
  overflow: hidden;
}

body,
main {
  height: 100vh;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}

/* NAVBAR */

.navbar {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.color-theme {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  padding: 0 10px;
  cursor: pointer;
}

.navbar .navbar-links {
  display: flex;
  align-items: center;
}

.navbar .page-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar .page-links li a {
  /* Need to select 'a' tag because of Link router tag */
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  text-decoration: none;
  padding: 0 10px;
}

/* HOME PAGE */
.home-page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 3rem;
}

.home-name {
}

.home-body {
}

/* EXPERIENCE PAGE */
.experience-page {
  margin-top: 5rem;
  margin-left: 3rem;
}

.experience-page .experiences {
  margin-top: 3rem;
}

/* DROPDOWN COMPONENT */
.dropdown {
  display: flex;
  flex-direction: column;
  border-width: 2px;
  border-style: solid;
  border-color: var(--primary-border-color);
  border-radius: 2px;
  margin: 1rem 3rem;
  padding: 10px;
  width: 70%;
  /* background-color: var(--secondary-color); */
  color: var(--primary-text-color);
}

.dropdown .dropdown-header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border-bottom: 1px solid var(--primary-border-color);
}

.dropdown .dropdown-title {
  font-weight: bold;
}

.dropdown .dropdown-button {
}

.dropdown .dropdown-description {
  margin-top: 5px;
  font-style: italic;
}

.dropdown .content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease, padding-top 0.5s ease;
}

.dropdown .content.expanded {
  max-height: 500px; /* Adjust this value based on your content's maximum height */
  padding-top: 10px;
}

.dropdown .content.collapsed {
  max-height: 0;
  padding-top: 0;
}
