/* Root */
html,
body {
  font-family: "Courier New", Courier, monospace;
  overflow: hidden;
}

body,
main {
  height: 100vh;
}

/* HOME PAGE */
.home-page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 3rem;
}

.home-name {
}

.home-body {
}
